.container {
    width     : 1557px;
    height    : 610px;
    margin-top: 180px;
}


.ism-slider>ol,
.ism-slider>ol>li,
.ism-slider>ol>li>img {
    width     : 100%;
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.ism-slider {
    overflow               : hidden;
    position               : relative;
    padding                : 0 !important;
    -webkit-user-select    : none;
    -khtml-user-select     : none;
    -moz-user-select       : none;
    -ms-user-select        : none;
    user-select            : none;
    cursor                 : default;
    z-index                : 2;
    -webkit-background-clip: padding-box;
    -moz-background-clip   : padding;
    background-clip        : padding-box;
}



.ism-slider .ism-slides {
    list-style   : none;
    position     : absolute;
    height       : 100%;
    top          : 0;
    padding      : 0 !important;
    margin-top   : 0;
    margin-bottom: 0;
    z-index      : 1;
}

.ism-slider li.ism-slide {
    height    : 100%;
    overflow  : hidden;
    position  : absolute;
    display   : block;
    top       : 0;
    bottom    : 0;
    margin    : 0 !important;
    padding   : 0 !important;
    text-align: center;
}

.ism-slider .ism-img-frame {
    display : block;
    position: absolute;
    width   : 100%;
    height  : 100%;
}

.ism-slider a.ism-image-link {
    position       : absolute;
    color          : inherit;
    text-decoration: none;
    display        : block;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
}

.ism-slider .ism-img {
    display       : block;
    border        : none;
    position      : absolute;
    pointer-events: none;
}

.ism-button,
.ism-pause-button {
    position           : absolute;
    display            : block;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    border             : none;
    outline            : none;
    text-align         : center;
    z-index            : 6;
    cursor             : pointer;
    padding            : 0;
    background-repeat  : no-repeat;
    background-position: center center;
}

.ism-pause-button {
    display: none;
    left   : 50%;
}

.ism-slider:hover .ism-pause-button {
    display: block;
}

.ism-caption {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    padding           : 0 1em;
    text-shadow       : none;
    line-height       : 1.2em;
    padding           : 0.25em 0.5em;
    width             : auto;
    height            : auto;
    text-align        : center;
    visibility        : hidden;
}

a.ism-image-link .ism-caption,
a.ism-caption {
    text-decoration: none;
    font-weight    : normal;
}

a.ism-caption:hover {
    text-decoration: underline;
}

.ism-caption-0 {
    z-index: 3;
}

.ism-caption-1 {
    z-index: 4;
}

.ism-caption-2 {
    z-index: 5;
}

.ism-radios {
    margin    : 0;
    padding   : 0;
    list-style: none;
    color     : #fff;
    font-size : 1px;
}

.ism-slider .ism-radios {
    position          : absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    z-index           : 6;
    bottom            : 5px;
    left              : 0;
    right             : 0;
    width             : auto;
    background-color  : rgba(255, 255, 255, 0.0);
    padding           : 0 7px;
    height            : 0;
    overflow          : visible;
}

.ism-slider .ism-radios.ism-radios-as-thumbnails {
    bottom: 5px;
}

.ism-radios li {
    position: relative;
    display : inline-block;
    margin  : 0 3px;
    padding : 0;
}

.ism-radios input.ism-radio {
    display: none;
}

.ism-radios label {
    display           : block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    margin            : 0;
    text-decoration   : none;
    cursor            : pointer;
}

.ism-radios-as-thumbnails label {
    -webkit-background-size: 120% auto;
    -moz-background-size   : 120% auto;
    -o-background-size     : 120% auto;
    background-size        : 120% auto;
    background-position    : center center;
    background-repeat      : no-repeat;
    border                 : 2px solid rgba(255, 255, 255, 0.6);
    opacity                : 0.8;
}

.ism-radios-as-thumbnails label:hover {
    border : 2px solid #fff;
    opacity: 1;
}

.ism-radios-as-thumbnails li.active label {
    border : 2px solid rgba(255, 255, 255, 1.0);
    opacity: 1;
}

p.ism-badge {
    margin     : 0 auto;
    text-align : right;
    font-size  : 10px;
    padding-top: 1px;
    color      : #ccc;
    font-family: sans-serif;
    font-weight: normal;
}

p.ism-badge a.ism-link {
    color          : inherit;
    text-decoration: none;
    margin-right   : 0.25em;
}

p.ism-badge a.ism-link:hover {
    color          : #aaa;
    text-decoration: underline;
}


@-webkit-keyframes slidein {
    0% {
        -webkit-transform: translate(-1200px, 0);
        transform        : translate(-1200px, 0);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform        : translate(0, 0);
    }
}

@keyframes slidein {
    0% {
        -webkit-transform: translate(-1200px, 0);
        transform        : translate(-1200px, 0);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform        : translate(0, 0);
    }
}

@-webkit-keyframes popin {
    50% {
        -webkit-transform: scale(1.2);
        transform        : scale(1.2);
    }
}

@keyframes popin {
    50% {
        -webkit-transform: scale(1.2);
        transform        : scale(1.2);
    }
}

.ism-zoom-pan {
    -webkit-animation: zoompan 20.0s linear 1;
    animation        : zoompan 20.0s linear 1;
}

@-webkit-keyframes zoompan {
    0% {
        -webkit-transform: translate(0, 0) scale(1.0);
        transform        : translate(0, 0) scale(1.0);
    }

    50% {
        -webkit-transform: translate(-5%, -5%) scale(1.3);
        transform        : translate(-5%, -5%) scale(1.3);
    }

    100% {
        -webkit-transform: translate(0, 0) scale(1.0);
        transform        : translate(0, 0) scale(1.0);
    }
}

@keyframes zoompan {
    0% {
        -webkit-transform: translate(0, 0) scale(1.0);
        transform        : translate(0, 0) scale(1.0);
    }

    50% {
        -webkit-transform: translate(-5%, -5%) scale(1.3);
        transform        : translate(-5%, -5%) scale(1.3);
    }

    100% {
        -webkit-transform: translate(0, 0) scale(1.0);
        transform        : translate(0, 0) scale(1.0);
    }
}

.ism-zoom-rotate {
    -webkit-animation: zoomrotate 20.0s linear 1;
    animation        : zoomrotate 20.0s linear 1;
}

@-webkit-keyframes zoomrotate {
    0% {
        -webkit-transform: rotate(0) scale(1.0);
        transform        : rotate(0) scale(1.0);
    }

    50% {
        -webkit-transform: rotate(-5deg) scale(1.3);
        transform        : rotate(-5deg) scale(1.3);
    }

    100% {
        -webkit-transform: rotate(0) scale(1.0);
        transform        : rotate(0) scale(1.0);
    }
}

@keyframes zoomrotate {
    0% {
        -webkit-transform: rotate(0) scale(1.0);
        transform        : rotate(0) scale(1.0);
    }

    50% {
        -webkit-transform: rotate(-5deg) scale(1.3);
        transform        : rotate(-5deg) scale(1.3);
    }

    100% {
        -webkit-transform: rotate(0) scale(1.0);
        transform        : rotate(0) scale(1.0);
    }
}


/* SLIDER */

#my-slider {
    width                : 100%;
    -webkit-border-radius: 5px;
    border-radius        : 5px;
    height               : 600px;
}

#my-slider-ism-badge {
    width: 952px;
}

#my-slider:before {
    content    : '';
    display    : block;
    padding-top: 5%;
}

#my-slider .ism-frame {
    position: absolute;
    top     : 0;
    bottom  : 0;
    left    : 0;
    width   : 100%;
}

#my-slider .ism-button {
    display : block;
    position: absolute;
    top     : 45%;
}

#my-slider .ism-button-prev {
    position        : absolute;
    left            : 10px;
    top             : 50%;
    background-image: url(/img/achievements_slider/arrow-slide-left.png);
    width           : 70px;
    height          : 70px;
}

#my-slider .ism-button-next {
    display         : flex;
    position        : absolute;
    right           : 10px;
    top             : 50%;
    background-image: url(/img/achievements_slider/arrow-slide-right.png);
    width           : 70px;
    height          : 70px;
}

#my-slider .ism-radios {
    display   : none;
    height    : 20px;
    text-align: center;
}

#my-slider .ism-radios label {
    width           : 20px;
    height          : 20px;
    border-radius   : 3px;
    color           : #000;
    background-color: rgba(255, 255, 255, 0.5);
}

#my-slider .ism-radios li.active label {
    background-color: rgba(255, 255, 255, 1.0);
}

#my-slider .ism-radios label:hover {
    background-color: rgba(255, 255, 255, 0.8);
}


/* SLIDES */

#my-slider .ism-slide-0 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-0 .ism-img {
    width            : 100%;
    top              : 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform   : translateY(-50%);
    -ms-transform    : translateY(-50%);
    transform        : translateY(-50%);
}

#my-slider .ism-slide-1 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-1 .ism-img {
    width            : 100%;
    top              : 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform   : translateY(-50%);
    -ms-transform    : translateY(-50%);
    transform        : translateY(-50%);
}

#my-slider .ism-slide-2 .ism-img-frame {
    width: 100%;
}

#my-slider .ism-slide-2 .ism-img {
    width            : 100%;
    top              : 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform   : translateY(-50%);
    -ms-transform    : translateY(-50%);
    transform        : translateY(-50%);
}


/* CAPTIONS */

#my-slider .ism-slide-0 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s;
    animation        : fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s;
    animation        : fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s;
    animation        : fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s;
    animation        : fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s;
    animation        : fadein 0.5s;
}

#my-slider .ism-slide-1 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s;
    animation        : fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-0.ism-caption-anim {
    -webkit-animation: fadein 0.5s;
    animation        : fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-1.ism-caption-anim {
    -webkit-animation: fadein 0.5s;
    animation        : fadein 0.5s;
}

#my-slider .ism-slide-2 .ism-caption-2.ism-caption-anim {
    -webkit-animation: fadein 0.5s;
    animation        : fadein 0.5s;
}

#my-slider .ism-slide-0 .ism-caption-0 {
    font-size       : 1.25em;
    font-family     : sans-serif;
    position        : absolute;
    top             : 10%;
    left            : 5%;
    border-radius   : 4px;
    border          : none;
    color           : #fff;
    background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-0 .ism-caption-1 {
    font-size       : 1.25em;
    font-family     : sans-serif;
    position        : absolute;
    top             : 60%;
    left            : 40%;
    border-radius   : 4px;
    border          : none;
    color           : #fff;
    background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-0 .ism-caption-2 {
    font-size       : 1.25em;
    font-family     : sans-serif;
    position        : absolute;
    top             : 20%;
    left            : 60%;
    border-radius   : 4px;
    border          : none;
    color           : #fff;
    background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-1 .ism-caption-0 {
    font-size       : 1.25em;
    font-family     : sans-serif;
    position        : absolute;
    top             : 10%;
    left            : 5%;
    border-radius   : 4px;
    border          : none;
    color           : #fff;
    background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-1 .ism-caption-1 {
    font-size       : 1.25em;
    font-family     : sans-serif;
    position        : absolute;
    top             : 60%;
    left            : 40%;
    border-radius   : 4px;
    border          : none;
    color           : #fff;
    background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-1 .ism-caption-2 {
    font-size       : 1.25em;
    font-family     : sans-serif;
    position        : absolute;
    top             : 20%;
    left            : 60%;
    border-radius   : 4px;
    border          : none;
    color           : #fff;
    background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-2 .ism-caption-0 {
    font-size       : 1.25em;
    font-family     : sans-serif;
    position        : absolute;
    top             : 10%;
    left            : 5%;
    border-radius   : 4px;
    border          : none;
    color           : #fff;
    background-color: rgba(0, 0, 0, 0.70);
}

#my-slider .ism-slide-2 .ism-caption-1 {
    font-size    : 1.25em;
    font-family  : sans-serif;
    position     : absolute;
    top          : 60%;
    left         : 40%;
    border-radius: 4px;
    border       : none;
}

#my-slider .ism-slide-2 .ism-caption-2 {
    font-size    : 1.25em;
    font-family  : sans-serif;
    position     : absolute;
    top          : 20%;
    left         : 60%;
    border-radius: 4px;
    border       : none;
}

.achievements_slider-block {
    display        : flex;
    width          : 100%;
    height         : 420px;
    justify-content: center;
    align-items    : center;
    padding-top    : 70px;
}

.achievements_slider-block_item {
    display        : flex;
    height         : 350px;
    width          : 416px;
    border-radius  : 0;
    margin-right   : 24px;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    position       : relative;
}

.achievements_slider-block_item:last-child {
    display      : flex;
    height       : 350px;
    width        : 416px;
    border-radius: 0;
    margin-right : 0;
}

.rectangle__block {
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : relative;
    top            : -70px;
}

.rectangle {
    width          : 366px;
    height         : 70px;
    background     : #db3138;
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : absolute;
}

.rectangle__text {
    width         : 244px;
    height        : 75px;
    font-family   : ReformaGroteskDemiC;
    font-style    : normal;
    font-weight   : 600;
    font-size     : 18px;
    line-height   : 140%;
    text-align    : center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color         : #fff;
    z-index       : 3;
    padding-top   : 65px;
}



@media screen and (max-width: 1440px) {
    #my-slider .ism-button-prev {
        top: 80%;
    }

    #my-slider .ism-button-next {
        top: 80%;
    }
}



@media screen and (max-width: 1024px) {
    .our_advantages__block {
        display        : flex;
        justify-content: center;
        margin-top     : 180px;
        flex-direction : column;
        align-items    : center;
    }

    .achievements_slider-block {
        display        : flex;
        width          : 100%;
        height         : 950px;
        justify-content: center;
        align-items    : initial;
        padding-top    : 70px;
    }

    #my-slider {
        width                : 100%;
        -webkit-border-radius: 5px;
        border-radius        : 5px;
        height               : 950px;
    }

    .achievements_slider_pic {
        width: auto;
    }

}


@media screen and (max-width: 768px) {

    #my-slider .ism-button-prev {
        top: 51%;
    }

    #my-slider .ism-button-next {
        top: 49%;
    }

    .container {
        width     : 90%;
        height    : 610px;
        margin-top: 0px;
    }

    #my-slider {
        width                : 100%;
        -webkit-border-radius: 5px;
        border-radius        : 5px;
        height               : 700px;
    }

    .ism-slider li.ism-slide {
        height    : 100%;
        overflow  : hidden;
        position  : absolute;
        display   : block;
        top       : 0;
        bottom    : 0;
        margin    : 0 !important;
        padding   : 0 !important;
        text-align: center;
        width     : 27.3333%;
    }

}


@media screen and (max-width: 425px) {

    .container {
        width     : 90%;
        height    : 610px;
        margin-top: 0;
    }

    .ism-slider .ism-slides {
        width: 100%;
    }

    .achievements_slider-block_item {
        display        : flex;
        height         : 350px;
        width          : 416px;
        border-radius  : 0;
        margin-right   : 24px;
        flex-direction : column;
        margin-bottom  : 150px;
        justify-content: center;
        align-items    : center;
        position       : relative;
    }

    #my-slider {
        width                : 100%;
        -webkit-border-radius: 5px;
        border-radius        : 5px;
        height               : 720px;
    }

    #my-slider .ism-button-prev {
        top: 90%;
    }

    #my-slider .ism-button-next {
        top: 89%;
    }

    #my-slider .ism-button-next {
        top: 89.5%;
    }
}